#streakContainer{
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
    -webkit-app-region: drag;
    position: fixed;
}

#streakImg{
    width: 100%;
    
    height: auto;
    -webkit-app-region: drag;
}

#titleBar{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    z-index: 100;
    position: fixed;
    -webkit-app-region: no-drag;
}

#close{
    margin-right: 5px;
    margin-top: 2px;
}

#gear{
    margin-right: 8px;
    margin-top: 2px;
}