#containerMainView{
  display: flex;
}

#usernameIpt {
  width: 240px;
  height: 40px;
  margin-top: 40px;
  border-radius: 10px 0 0 10px;
  border: none;
  background-color: #2E3440;
  font-size: 15px;
  padding: 0;
  padding-left: 12px;
}

#usernameIpt::placeholder {
  color: rgb(214, 214, 214);
}

#usernameIpt:focus {
  outline: none;
  transition: 1s;
  border: none;
}

#confirmNickBtn {
  height: 40px;
  background-color: #2E3440;
  border: none;
  border-left: 1px solid rgb(114, 114, 114);
  border-radius: 0 10px 10px  0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

#confirmNickBtn:hover {
  background: #b3b3b379;
  transition: 0.5s;
}

#imgContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;

}

#UserSelectionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}


#userImg {
  margin-top: 40px;
  width: 122px;
  border-radius: 50%;
}

#confirmDiv{
  margin-top: 70px;
}

#confirmUser {
  width: 112px;
  height: 35px;
  background-color: #03A959;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 0;
}

#confirmUser:hover {
  background-color: #00723b;
  transition: 0.2s;
}


#selectTheme{
  width: 285px;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  background-color: #2E3440;
  font-size: 15px;
  padding-left: 12px;
  color: rgb(214, 214, 214);
}

option {
  color: rgb(214, 214, 214);
}

#selectTheme:focus {
  outline: none;
  transition: 1s;
  border: none;
}

hr {
  border-color: rgba(255, 255, 255, 0.219);
  margin-top: 13px;
  height: 340px;
}

#nameH2{
  margin: 0;
}

#usernameP{
  margin: 0;
}